/* Color scheme: http://www.colourlovers.com/palette/2162754/JV%E2%99%A5IS */

body {
    background-image: url('linen.png');
    background-repeat: repeat;
}


h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

.two {
    color: cornflowerblue;
    font-weight: normal;
}

.header {
    font-family: 'Source Sans Pro', sans-serif;
    /*width: 950px;*/
    height: 240px;
    background-color: #fdfdfd;
    border-bottom: 4px solid #fdf5e6;
    text-align: center;
    display: block;
}

.toc {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.2em;
}


.header-bottom {
    border-bottom: 2px solid #add8e6;
    margin-bottom: 10px;
}

/*.header img {
    margin: 0 auto;
    display: block;
}
*/

.header h1 {
    font-size: 10em;
    padding-top: 20px;
    margin-bottom: 0.15em;
}

.intro {
    font-size: 2em;
    margin-bottom: 0.15em;
}

p {
    font-size: 1.5em;
}

.last-p {
    text-align: center;
}

li {
    font-size: 1.5em;
}

/* From http://css-tricks.com/simple-styles-for-horizontal-rules/ */

hr.stylish-hr {
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(147,197,114,0), rgba(147,197,114,1), rgba(147,197,114,0));
    background-image:    -moz-linear-gradient(left, rgba(147,197,114,0), rgba(147,197,114,1), rgba(147,197,114,0));
    background-image:     -ms-linear-gradient(left, rgba(147,197,114,0), rgba(147,197,114,1), rgba(147,197,114,0));
    background-image:      -o-linear-gradient(left, rgba(147,197,114,0), rgba(147,197,114,1), rgba(147,197,114,0));
}

.emphasis {
    color: #6395ed;
}

h1 {
    text-align: center;
}

h1:hover > a.permalink {
    visibility: visible;
}

ul {
    list-style-type: square;
}

a {
    color: black;
}

a.permalink {
    margin-left: 6px;
    color: #d3d3d3;
    text-decoration: none;
    visibility: hidden;
}

a:hover {
    color: #6495ed;
}

#viz {
    box-shadow: 5px 5px 5px #d3d3d3;
    margin-bottom: 10px;
}
